PROJECT_ID=
GCP_REGION=

TAG=latest

# Google Artifact Registry
GAR_LOCATION=  # Google Artifact Registry repo location
GAR_DOCKER_REPO_ID=
GAR_PIPELINES_REPO_ID=
GAR_VERTEX_BASE_IMAGE_NAME=

# Vertex AI
VERTEX_STAGING_BUCKET_NAME=  # without gs://
VERTEX_SERVICE_ACCOUNT=  # full service account email
