PROJECT_ID=YOUR_PROJECT_ID
GCP_REGION=europe-west1

# Google Artifact Registry
GAR_LOCATION=europe-west1  # Google Artifact Registry repo location
GAR_PIPELINES_REPO_ID=YOUR_GOOGLE_ARTIFACT_REGISTRY_KFP_REPO_ID

# Vertex AI
VERTEX_STAGING_BUCKET_NAME=YOUR_VERTEX_STAGING_BUCKET_NAME  # without gs://
VERTEX_SERVICE_ACCOUNT=YOUR_VERTEX_SERVICE_ACCOUNT  # full service account email
